{{#user}}
    <form method="POST">
        <ul id="user">
            <li>
                {{#emailFormErrors}}
                    <div id="emailFormErrors">
                        {{>form-error}}
                    </div>
                {{/emailFormErrors}}
                <label class="email-label" for="email">Email</label>
                <input id="email" name="email" value="{{email}}"/>
            </li>
            <li>
                {{#firstNameFormErrors}}
                    <div id="firstNameFormErrors">
                        {{>form-error}}
                    </div>
                {{/firstNameFormErrors}}
                <label class="first-name-label" for="firstName">First Name</label>
                <input id="firstName" name="firstName" value="{{firstName}}"/>
            </li>
            <li>
                {{#lastNameFormErrors}}
                    <div id="lastNameFormErrors">
                        {{>form-error}}
                    </div>
                {{/lastNameFormErrors}}
                <label class="last-name-label" for="lastName">Last Name</label>
                <input id="lastName" name="lastName" value="{{lastName}}"/>
            </li>
            <li>
                <label class="phone-number-label" for="phoneNumber">Phone Number</label>
                <input id="phoneNumber" name="phoneNumber" value="{{phoneNumber}}"/>
            </li>
            <li class="address">
                {{#address}}
                    <input type="hidden" name="address.id" value="{{id}}"/>
                    <ul id="address">
                        <li>
                            <label class="number-label" for="number">Number</label>
                            <input id="number" name="address.number" value="{{number}}"/>
                        </li>
                        <li>
                            <label class="street-label" for="street">Street</label>
                            <input id="street" name="address.street" value="{{street}}"/>
                        </li>
                        <li>
                            <label class="suburb-label" for="suburb">Suburb</label>
                            <input id="suburb" name="address.suburb" value="{{suburb}}"/>
                        </li>
                        <li>
                            <label class="city-label" for="city">City</label>
                            <input id="city" name="address.city" value="{{city}}"/>
                        </li>
                        <li>
                            <label class="postcode-label" for="postcode">Postcode</label>
                            <input id="postcode" name="address.postcode" value="{{postcode}}"/>
                        </li>
                    </ul>
                {{/address}}
            </li>
        </ul>
        <input class="save" type="submit" value="Save"/>
    </form>
{{/user}}