<table id="user">
    <tr id="email">
        <td class="name">Email</td>
        <td class="value">{{user.email}}</td>
    </tr>
    <tr id="firstName">
        <td class="name">First Name</td>
        <td class="value">{{user.firstName}}</td>
    </tr>
    <tr id="lastName">
        <td class="name">Last Name</td>
        <td class="value">{{user.lastName}}</td>
    </tr>
    <tr id="phoneNumber">
        <td class="name">Phone Number</td>
        <td class="value">{{user.phoneNumber}}</td>
    </tr>
</table>
<table id="address">
    <tr id="number">
        <td class="name">Number</td>
        <td class="value">{{user.address.number}}</td>
    </tr>
    <tr id="street">
        <td class="name">Street</td>
        <td class="value">{{user.address.street}}</td>
    </tr>
    <tr id="suburb">
        <td class="name">Suburb</td>
        <td class="value">{{user.address.suburb}}</td>
    </tr>
    <tr id="city">
        <td class="name">City</td>
        <td class="value">{{user.address.city}}</td>
    </tr>
    <tr id="postcode">
        <td class="name">Postcode</td>
        <td class="value">{{user.address.postcode}}</td>
    </tr>
</table>