<!DOCTYPE html>
<html>
<head>
    <title>User: {{user.firstName}} {{user.lastName}}</title>
</head>
<body>

<a class="edit" href="edit/{{id}}">Edit</a>/<a class="delete" href="delete/{{id}}">Delete</a>

{{>user-view}}

</body>
</html>